{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
<main class="container mt-5 mb-5">
    <section class="header mb-4">
        <h1>À propos de moi</h1>
    </section>

    <section class="section mb-4">
        <p>Bonjour, je m'appelle Térence. Je suis un étudiant passionné par le développement et les nouvelles technologies informatiques. Voici quelques informations sur mes loisirs, passions et activités :</p>
    </section>

    <section class="section mb-4">
        <h2>Loisirs</h2>
        <ul>
            <li><h3>Sport en plein air</h3></li>
            <div class="image-container">
                <div class="image-item">
                    <img src="/docs/voile.JPG" alt="Image de voile" class="responsive-img">
                    <p class="image-caption">Rassemblement de voile</p>
                </div>
                <div class="image-item">
                    <img src="/docs/ski.jpg" alt="Image de ski" class="responsive-img">
                    <p class="image-caption">Ski</p>
                </div>
            </div>
            <p>Rien de tel pour se ressourcer en plein air que le plaisir de naviguer ou de profiter d'un magnifique point de vue en haut de la montagne.</p>
            <li><h3>Lecture de bande dessinée - manga en tout genre</h3></li>
            <div class="image-container">
                <div class="image-item">
                    <img src="/docs/BD.jpg" alt="Image de BD" class="responsive-img">
                    <p class="image-caption">Bande dessinée 1984 George Orwell</p>
                </div>
                <div class="image-item">
                    <img src="/docs/manga.jpg" alt="Image de Manga" class="responsive-img">
                    <p class="image-caption">Une de mes séries préférées</p>
                </div>
            </div>
            <p>J'adore me plonger dans des mondes imaginaires et découvrir de nouvelles histoires.</p>
            <li><h3>Jeux vidéo, en particulier les jeux rétro ou d'exploration</h3></li>
            <div class="image-container">
                <div class="image-item">
                    <img src="/docs/nes.jpg" alt="Image NES" class="responsive-img">
                    <p class="image-caption">Super Mario Bros (NES - 1985)</p>
                </div>
                <div class="image-item">
                    <img src="/docs/AC.jpg" alt="Image AC" class="responsive-img">
                    <p class="image-caption">Une de mes sagas de monde ouvert préférées</p>
                </div>
            </div>
            <p>Les jeux vidéo me permettent de me détendre et de développer ma réflexion stratégique et logique.</p>
        </ul>
    </section>

    <section class="section mb-4">
        <h2>Passions</h2>
        <ul>
            <li><h3>Programmation et 3D</h3></li>
            <div class="image-container">
                <div class="image-item">
                    <img src="/docs/siteHT1.png" alt="Image de programmation" class="responsive-img">
                    <p class="image-caption">Site blog sur le solex réalisé pour un TP</p>
                </div>
                <div class="image-item">
                    <img src="/docs/terre3D.png" alt="Image Earth" class="responsive-img">
                    <p class="image-caption">J'utilise Blender pour mes modèles 3D</p>
                </div>
            </div>
            <p>J'aime laisser parler ma créativité autour de divers projets.</p>
            <li><h3>J'aime réparer et comprendre la mécanique et l'électronique</h3></li>
            <div class="image-container">
                <div class="image-item">
                    <img src="/docs/PC.jpg" alt="Image PC" class="responsive-img">
                    <p class="image-caption">J'ai déjà construit et réparé de nombreux ordinateurs</p>
                </div>
                <div class="image-item">
                    <img src="/docs/solex.png" alt="Image Solex" class="responsive-img">
                    <p class="image-caption">Mon plus gros projet de restauration complète mécanique</p>
                </div>
            </div>
            <p>Je suis toujours curieux de savoir comment fonctionne ce qui m'entoure.</p>
            <li><h3>Collections diverses : photographie, son, vidéo, informatique</h3></li>
            <div class="image-container">
                <div class="image-item">
                    <img src="/docs/camera.jpg" alt="Image appareil photo" class="responsive-img">
                    <p class="image-caption">Caméra 16mm</p>
                </div>
                <div class="image-item">
                    <img src="/docs/mac.jpg" alt="Image informatique" class="responsive-img">
                    <p class="image-caption">Macintosh Performa 400 (1992)</p>
                </div>
            </div>
            <p>Passionné d'histoire, je collectionne des objets dans ces domaines que j'apprécie tout particulièrement.</p>
        </ul>
    </section>

    <div class="text-center mb-4">
        <a class="btn btn-primary" href="/s/a/e104/CV">Voir mon CV</a>
        <a class="btn btn-primary" href="/s/a/e104/Portfolio">Voir mon Portfolio</a>
    </div>
</main>
{% endblock %}