{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<main class="container mt-5 mb-5">
<div class="wrapper">
    <section class="header mb-4">
    <h1>Bienvenue sur mon site !</h1>
    </section>  
    <section class="section mb-4">
    <p><strong>Nom:</strong> HOUVION </p>
    <p><strong>Prénom:</strong> Térence</p>
    <p><strong>Groupe TP:</strong> Groupe RT-1 B2</p>
    </section>
    <section class="section mb-4">
    <p>Je suis un étudiant passionné par le développement et les nouvelles technologies.</p>
    <p>En bref l'informatique en general.</p>
    </section>
    <a class="btn btn-primary" href="/s/a/e104/About">En savoir plus</a>
</div>

</main>


{% endblock %}