{% extends 'base.html.twig' %}

{% block title %}E-Portfolio{% endblock %}

{% block body %}
<div class="header mb-4">
    <h1>Mon E-Portfolio</h1>
</div>

<div class="port-section mb-4">
    <h2>Compétences</h2>
    <div class="accordion" id="accordionCompetences">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingWebDev">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWebDev" aria-expanded="true" aria-controls="collapseWebDev">
                    Compétence Programmer : AC13.04 - Développement Web
                </button>
            </h2>
            <div id="collapseWebDev" class="accordion-collapse collapse show" aria-labelledby="headingWebDev" data-bs-parent="#accordionCompetences">
                <div class="accordion-body">
                    <p>HTML, CSS, JavaScript, PHP, Symfony</p>
                    <div class="image-container">
                        <div class="image-item">
                            <img src="/docs/siteHTR.png" alt="Image de développement web" class="responsive-img">
                            <p class="image-caption">Projet de site web en HTML et CSS responsive</p>
                        </div>
                        <div class="image-item">
                            <img src="/docs/appJS.PNG" alt="Image JS" class="responsive-img">
                            <p class="image-caption">Bouton de retour en haut du site en JavaScript</p>
                        </div>
                        <div class="image-item">
                            <img src="/docs/symf.PNG" alt="Image Symfony" class="responsive-img">
                            <p class="image-caption">Site web dynamique en PHP et Symfony</p>
                        </div>
                    </div>
                    <p class="technical-vocab">Vocabulaire technique : Responsive, Controller, Twig, Composer, Framework, ID, Div, Section, Class, Bootstrap, Formulaire, Animation CSS, Event Listener, Scroll Event</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingDatabase">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDatabase" aria-expanded="false" aria-controls="collapseDatabase">
                    Compétence Programmer : AC13.02 - Programmation
                </button>
            </h2>
            <div id="collapseDatabase" class="accordion-collapse collapse" aria-labelledby="headingDatabase" data-bs-parent="#accordionCompetences">
                <div class="accordion-body">
                    <p>Python, C</p>
                    <div class="image-container">
                        <div class="image-item">
                            <img src="/docs/python.png" alt="Image Python" class="responsive-img">
                            <p class="image-caption">Programme de tri en Python</p>
                        </div>
                        <div class="image-item">
                            <img src="/docs/C.png" alt="Image C" class="responsive-img">
                            <p class="image-caption">Programme de tri en C</p>
                        </div>
                    </div>
                    <p class="technical-vocab">Vocabulaire technique : Algorithme, Variables, Types, Bool, String, Integer, Liste, Fonction, Classe, Exception, Module, Package, Pointeur, Tableau</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFrameworks">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFrameworks" aria-expanded="false" aria-controls="collapseFrameworks">
                    Compétence Administrer : AC11.06 - Virtualisation
                </button>
            </h2>
            <div id="collapseFrameworks" class="accordion-collapse collapse" aria-labelledby="headingFrameworks" data-bs-parent="#accordionCompetences">
                <div class="accordion-body">
                    <p>Machine virtuelle, VirtualBox</p>
                    <div class="image-container">
                        <div class="image-item">
                            <img src="/docs/vbox.png" alt="Image de VirtualBox" class="responsive-img">
                            <p class="image-caption">Maîtrise de VirtualBox</p>
                        </div>
                        <div class="image-item">
                            <img src="/docs/linxvm.png" alt="Image VM" class="responsive-img">
                            <p class="image-caption">Machine virtuelle Linux avec partage de dossier</p>
                            <p class="image-caption">Maîtrise des paramètres de VirtualBox et de la machine virtuelle</p>
                        </div>
                    </div>
                    <p class="technical-vocab">Vocabulaire technique : Machine invitée, VirtualBox, Hôte, ISO, Snapshot, VM, Virtualisation, Configuration, RAM, CPU, Disque virtuel, Réseau</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingProjectManagement">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProjectManagement" aria-expanded="false" aria-controls="collapseProjectManagement">
                    Compétence Administrer : AC11.04 - Environnement Linux
                </button>
            </h2>
            <div id="collapseProjectManagement" class="accordion-collapse collapse" aria-labelledby="headingProjectManagement" data-bs-parent="#accordionCompetences">
                <div class="accordion-body">
                    <p>Desktop, Serveur</p>
                    <div class="image-container">
                        <div class="image-item">
                            <img src="/docs/ubu.png" alt="Image Ubuntu" class="responsive-img">
                            <p class="image-caption">Ubuntu Linux en desktop</p>
                        </div>
                        <div class="image-item">
                            <img src="/docs/ubuserv.png" alt="Image Ubuntu Server" class="responsive-img">
                            <p class="image-caption">Ubuntu Linux en serveur</p>
                        </div>
                        <div class="image-item">
                            <img src="/docs/gameshell.png" alt="Image Gameshell" class="responsive-img">
                            <p class="image-caption">Participation au serious game Gameshell pour apprendre les commandes</p>
                        </div>
                    </div>
                    <p class="technical-vocab">Vocabulaire technique : Linux, Ubuntu, Desktop, Serveur, Terminal, Shell, sudo, apt, ls, cd, mkdir, chmod, rm, grep, ssh</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingDevTools">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDevTools" aria-expanded="false" aria-controls="collapseDevTools">
                    Compétence Programmer : AC13.01 - Outils de Développement
                </button>
            </h2>
            <div id="collapseDevTools" class="accordion-collapse collapse" aria-labelledby="headingDevTools" data-bs-parent="#accordionCompetences">
                <div class="accordion-body">
                    <p>Git, VSCode</p>
                    <div class="image-container">
                        <div class="image-item">
                            <img src="/docs/git.PNG" alt="Image Git" class="responsive-img">
                            <p class="image-caption">Utilisation de GitHub</p>
                        </div>
                        <div class="image-item">
                            <img src="/docs/vscode.png" alt="Image VSCode" class="responsive-img">
                            <p class="image-caption">IDE Visual Studio Code</p>
                        </div>
                        <div class="image-item">
                            <img src="/docs/extenvs.PNG" alt="Image extensions VSCode" class="responsive-img">
                            <p class="image-caption">Maîtrise des extensions VSCode</p>
                        </div>
                    </div>
                    <p class="technical-vocab">Vocabulaire technique : Versioning, VSCode, Repository, Commit, Push, Pull, Clone, Branch, Merge, Fork, GitHub, Extension</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="port-section mb-4">
    <h2>Projets</h2>
    <div class="accordion" id="accordionProjects">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingProject1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProject1" aria-expanded="true" aria-controls="collapseProject1">
                    Compétence Administrer : AC11.05 - Projet 1 : Mooc ANSSI
                </button>
            </h2>
            <div id="collapseProject1" class="accordion-collapse collapse show" aria-labelledby="headingProject1" data-bs-parent="#accordionProjects">
                <div class="accordion-body">
                    <p>Objectif : Passer le Mooc de l'ANSSI sur la sensibilisation à la cybersécurité</p>
                    <div class="image-container">
                        <div class="image-item">
                            <img src="/docs/mcpage.png" alt="Image site" class="responsive-img">
                            <p class="image-caption">Page d'accueil du site</p>
                        </div>
                        <div class="image-item">
                            <img src="/docs/mooc.png" alt="Image certification" class="responsive-img">
                            <p class="image-caption">Certification obtenue</p>
                        </div>
                    </div>
                    <p class="technical-vocab">Vocabulaire technique : Phishing, Malware, Virus, DDoS, Confidentialité, Cryptographie, Authentification, Sécurisation, Hameçonnage, Protection des données, Botnet, Ransomware, Ver</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingProject2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProject2" aria-expanded="false" aria-controls="collapseProject2">
                    Compétence Administrer : AC11.04 - Projet 2 : Amélioration d'un réseau
                </button>
            </h2>
            <div id="collapseProject2" class="accordion-collapse collapse" aria-labelledby="headingProject2" data-bs-parent="#accordionProjects">
                <div class="accordion-body">
                    <p>Objectif : Améliorer un réseau existant et utiliser TFTP.</p>
                    <div class="image-container">
                        <div class="image-item">
                            <img src="/docs/pkt.png" alt="Image Packet Tracer" class="responsive-img">
                            <p class="image-caption">Simulation d'un réseau sur Packet Tracer</p>
                        </div>
                        <div class="image-item">
                            <img src="/docs/tftp.png" alt="Image TFTP" class="responsive-img">
                            <p class="image-caption">Utilisation de TFTPD64 (récupération de fichier)</p>
                        </div>
                        <div class="image-item">
                            <img src="/docs/sw.jpg" alt="Image mise en place réelle" class="responsive-img">
                            <p class="image-caption">Mise en place réelle</p>
                        </div>
                    </div>
                    <p class="technical-vocab">Vocabulaire technique : Réseau, Switch, VLAN, TFTP, Configuration, IP, DHCP, Routing, Trunking, SSH, Passerelle, CDP, Interface</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingProject3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProject3" aria-expanded="false" aria-controls="collapseProject3">
                    Compétence Programmer : AC13.04 - Projet 3 : Blog Personnel
                </button>
            </h2>
            <div id="collapseProject3" class="accordion-collapse collapse" aria-labelledby="headingProject3" data-bs-parent="#accordionProjects">
                <div class="accordion-body">
                    <p>Création d'un blog sur un sujet personnalisé.</p>
                    <div class="image-container">
                        <div class="image-item">
                            <img src="/docs/blog.png" alt="Image accueil" class="responsive-img">
                            <p class="image-caption">Page d'accueil du blog</p>
                        </div>
                        <div class="image-item">
                            <img src="/docs/articleblog.png" alt="Image article" class="responsive-img">
                            <p class="image-caption">Article de blog</p>
                        </div>
                        <div class="image-item">
                            <img src="/docs/form.png" alt="Image formulaire" class="responsive-img">
                            <p class="image-caption">Formulaire</p>
                        </div>
                    </div>
                    <p class="technical-vocab">Vocabulaire technique : Blog, HTML, CSS, JavaScript, Formulaire, Post, Commentaire, Responsive</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingProject4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProject4" aria-expanded="false" aria-controls="collapseProject4">
                    Compétence Programmer : AC13.05 - Projet 4 : Analyse TCPDump
                </button>
            </h2>
            <div id="collapseProject4" class="accordion-collapse collapse" aria-labelledby="headingProject4" data-bs-parent="#accordionProjects">
                <div class="accordion-body">
                    <p>Créer des programmes capables d'analyser un fichier TCPDump et de trouver des activités suspectes.</p>
                    <div class="image-container">
                        <div class="image-item">
                            <img src="/docs/prog.png" alt="Image du projet 4" class="responsive-img">
                            <p class="image-caption">Programme d'analyse</p>
                        </div>
                        <div class="image-item">
                            <img src="/docs/csv.png" alt="Image du projet 4" class="responsive-img">
                            <p class="image-caption">Résultats dans un tableur</p>
                        </div>
                        <div class="image-item">
                            <img src="/docs/mkd.png" alt="Image du projet 4" class="responsive-img">
                            <p class="image-caption">Page Markdown</p>
                        </div>
                    </div>
                    <p class="technical-vocab">Vocabulaire technique : DDoS, Paquet, Protocoles, Port-scanning, Sniffer, Python, Wireshark, Filtrage, CSV, Markdown, Champs</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingProject5">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProject5" aria-expanded="false" aria-controls="collapseProject5">
                    Compétences Administrer Connecter Programmer - Projet 5 : Mon site portfolio
                </button>
            </h2>
            <div id="collapseProject5" class="accordion-collapse collapse" aria-labelledby="headingProject5" data-bs-parent="#accordionProjects">
                <div class="accordion-body">
                    <p>Le site sur lequel vous êtes actuellement.</p>
                    <p class="technical-vocab">Vocabulaire technique : Symfony, PHP, HTML, CSS, JS, Twig, Controller, Form, Template, Bootstrap</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
